<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oat.patac.dao.BomMapper">

    <resultMap type="com.oat.patac.entity.EntityBom" id="BomMap">
        <result property="bomNo" column="BOM_NO" jdbcType="VARCHAR"/>
        <result property="bomNo" column="BOM_NO" jdbcType="VARCHAR"/>
        <result property="procedureNo" column="PROCEDURE_NO" jdbcType="VARCHAR"/>
        <result property="bomType" column="BOM_TYPE" jdbcType="VARCHAR"/>
        <result property="planConfigId" column="PLAN_CONFIG_ID" jdbcType="INTEGER"/>
        <result property="functionId" column="FUNCTION_ID" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getAllBom" resultMap="BomMap">
        select *
        from BOM
        where FUNCTION_ID = #{functionId};
    </select>

<!--    select *-->
<!--    from BOM b-->
<!--    where b.`BOM_NO` in-->
<!--    (select st.`BOM_NO` from `SUB_TASK` st-->
<!--    where st.`FUNCTION_ID` = #{functionId} and (st.TEST_STATUS in ("1", "4") or st.TEST_STATUS is null));-->

    <select id="getBomBySubTask" resultMap="BomMap">
        SELECT DISTINCT b.`BOM_NO`, b.`BOM_TYPE`, b.`FUNCTION_ID`, b.`PLAN_CONFIG_ID`, b.`PROCEDURE_NO`
            FROM `bom` b
                JOIN `sub_task` st ON b.`BOM_NO` = st.`BOM_NO`
            WHERE  st.`FUNCTION_ID` = #{functionId}
                AND (st.TEST_STATUS IN ("1", "4") OR st.TEST_STATUS IS NULL);
    </select>

</mapper>