<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oat.patac.dao.EquipmentCalendarMapper">

    <resultMap type="com.oat.patac.entity.EntityEquipmentCalendar" id="EquipmentCalendarMap">
        <result property="equipmentId" column="EQUIPMENT_ID" jdbcType="VARCHAR"/>
        <result property="calendarClass" column="CALENDAR_CLASS" jdbcType="VARCHAR"/>
        <result property="calendarId" column="CALENDAR_ID" jdbcType="INTEGER"/>
        <result property="startFrom" column="START_FROM" jdbcType="TIMESTAMP"/>
        <result property="equipmentMode" column="EQUIPMENT_MODE" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllEquipmentCalendar" resultMap="EquipmentCalendarMap">
        SELECT *
        FROM `equipment_calendar` e
        WHERE e.`EQUIPMENT_ID` IN
              (
                  SELECT DISTINCT  e.`EQUIPMENT_ID`
                  FROM `equipment_group_rel` e
                           JOIN `step_equipment_group` se ON e.`EQUIPMENT_GROUP_ID` = se.`EQUIPMENT_GROUP_ID`
                           JOIN `sub_task`  st ON se.`BOM_NO` = st.`BOM_NO`
                  WHERE st.`FUNCTION_ID` = #{functionId}
                    AND (st.TEST_STATUS IN ("1", "4") OR st.TEST_STATUS IS NULL)
                    and se.`FUNCTION_ID` = #{functionId}
              );
    </select>

</mapper>