<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oat.patac.dao.SubTaskPlanInputMapper">

    <resultMap type="com.oat.patac.entity.EntitySubTaskPlanInput" id="SubTaskPlanInputMap">
        <result property="subTaskNo" column="SUB_TASK_NO" jdbcType="VARCHAR"/>
        <result property="taskNo" column="TASK_NO" jdbcType="VARCHAR"/>
        <result property="taskGroup" column="TASK_GROUP" jdbcType="VARCHAR"/>
        <result property="taskSeqNo" column="TASK_SEQ_NO" jdbcType="INTEGER"/>
        <result property="sampleGroupId" column="SAMPLE_GROUP_ID" jdbcType="INTEGER"/>
        <result property="sampleNo" column="SAMPLE_NO" jdbcType="VARCHAR"/>
        <result property="respEngineerId" column="RESP_ENGINEER_ID" jdbcType="VARCHAR"/>
        <result property="subTaskPlanStart" column="SUB_TASK_PLAN_START" jdbcType="TIMESTAMP"/>
        <result property="subTaskPlanEnd" column="SUB_TASK_PLAN_END" jdbcType="TIMESTAMP"/>
        <result property="subTaskActualStart" column="SUB_TASK_ACTUAL_START" jdbcType="TIMESTAMP"/>
        <result property="subTaskActualEnd" column="SUB_TASK_ACTUAL_END" jdbcType="TIMESTAMP"/>
        <result property="functionId" column="FUNCTION_ID" jdbcType="INTEGER"/>
        <result property="isCompleted" column="IS_COMPLETED" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllSubTaskPlanInput" resultMap="SubTaskPlanInputMap">
        select *
        from SUB_TASK_PLAN_INPUT
        where FUNCTION_ID = #{functionId};
    </select>
    <select id="getSubTaskPlanInputOfSameTask" resultMap="SubTaskPlanInputMap">
        select DISTINCT
        stp.SUB_TASK_NO, stp.TASK_NO,stp.TASK_GROUP, stp.TASK_SEQ_NO, stp.SAMPLE_GROUP_ID, stp.SAMPLE_NO, stp.RESP_ENGINEER_ID,
        stp.SUB_TASK_PLAN_START, stp.SUB_TASK_PLAN_END, stp.SUB_TASK_ACTUAL_START, stp.SUB_TASK_ACTUAL_END, stp.FUNCTION_ID, stp.IS_COMPLETED
        from SUB_TASK_PLAN_INPUT stp join `SUB_TASK` st on stp.TASK_NO = st.TASK_NO
        where st.`FUNCTION_ID` = #{functionId} and (st.TEST_STATUS IN ("1", "4") OR st.TEST_STATUS IS NULL);
    </select>
    <select id="getSubTaskPlanInputOfSameSubTaskGroup" resultMap="SubTaskPlanInputMap">
        select DISTINCT
        stp.SUB_TASK_NO, stp.TASK_NO,stp.TASK_GROUP, stp.TASK_SEQ_NO, stp.SAMPLE_GROUP_ID, stp.SAMPLE_NO, stp.RESP_ENGINEER_ID,
        stp.SUB_TASK_PLAN_START, stp.SUB_TASK_PLAN_END, stp.SUB_TASK_ACTUAL_START, stp.SUB_TASK_ACTUAL_END, stp.FUNCTION_ID, stp.IS_COMPLETED
        from SUB_TASK_PLAN_INPUT stp join `SUB_TASK` st on stp.TASK_GROUP = st.TASK_GROUP
        where st.`FUNCTION_ID` = #{functionId} and (st.TEST_STATUS IN ("1", "4") OR st.TEST_STATUS IS NULL);
    </select>
    <select id="getSubTaskPlanInputOfSameUniqueSample" resultMap="SubTaskPlanInputMap">
        select DISTINCT
        stp.SUB_TASK_NO, stp.TASK_NO,stp.TASK_GROUP, stp.TASK_SEQ_NO, stp.SAMPLE_GROUP_ID, stp.SAMPLE_NO, stp.RESP_ENGINEER_ID,
        stp.SUB_TASK_PLAN_START, stp.SUB_TASK_PLAN_END, stp.SUB_TASK_ACTUAL_START, stp.SUB_TASK_ACTUAL_END, stp.FUNCTION_ID, stp.IS_COMPLETED
        from SUB_TASK_PLAN_INPUT stp
        where (stp.IS_COMPLETED = "0" or stp.IS_COMPLETED is NULL) and stp.SAMPLE_NO in
        <foreach collection="uniqueSampleNoSet" item="item" index="index" open="(" separator="," close=")">
        #{item}
        </foreach>;
    </select>

</mapper>